.table-desk tr.game td{
	width : 70px;
	height : 80px;
	vertical-align : middle !important;
	padding : 0px !important;
}

div.poll div.poll-time{
	font-size : 18px;
}

div.poll div.poll-time span#poll-time{
	font-size : 22px;
}

div.container-game .table-desk[data-enabled="1"] td.empty:hover{
	background : RGB( 226, 245, 250);
	cursor : hand;
}

div.container-game .panel-msg{
	height : 180px;
	overflow-y : scroll;
}
