<div class="panel panel-success">
	<div class="panel-heading">
    	<h3 class="panel-title">Game #{{ @game_number }}</h3>
  	</div>
  	<div class="panel-body">
  		<h3 id="{{@game_id}}">
  			Turn {{ @game_turn }}
	  		<check if="{{ @game_team == 'red' }}">
	  			<true>
		  			<span  class="label label-danger">red</span>
	  			</true>
	  			<false>
		  			<span  class="label label-primary">blue</span>
	  			</false>
	  		</check>
  		</h3>  			
  	</div>

	<table class="table table-bordered text-center">
		<repeat group="{{ @game_table }}" value="{{ @row }}">
			<tr>
				<repeat group="{{ @row }}" value="{{ @col }}">
					<switch expr="{{ @col }}">
						<case value="{{ '1' }}" break="TRUE">
							<td>
							</td>
								<img src="{{ @BASE }}/media/images/blue.png" alt="blue" />
						</case>
						<case value="{{ '0' }}" break="TRUE">
							<td>
								<img src="{{ @BASE }}/media/images/red.png" alt="red" />
							</td>
						</case>
						<default>
							<td>
								&nbsp;
							</td>
						</default>
					</switch>
				</repeat>
			</tr>
		</repeat>
		
			<tr>
				<td colspan="3">
			  		<a href="{{ @BASE }}/game/join/{{ @game_number }}" class="btn btn-success pull-right">
						<check if="{{ @join_game}}">
							<true>Join game</true>
							<false>Spectate game</false>
						</check>
			  		</a>				
				</td>
			</tr>
	</table>
</div>
